<%= render 'layouts/scripts' %>

<body>
  <%= render partial: "layouts/navbar", locals: {tab: :fundraiser} %>

  <div class="fundraiser-container container">
    <%= form_with(model: @fundraiser, method: :patch, local: true) do |f| %>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Fundraiser Title</label>
      <%= f.text_field :title, class: "form-control", placeholder: "Awareness Cause"%>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Fundraiser Description</label>
      <%= f.text_area :description, size: "60x10", class: "event-description form-control", placeholder: "What is our goal?" %>
    </div>
    <% if @fundraiser.image.attached? %>
    <div class="image-attached-container">
      <%= image_tag(url_for(@fundraiser.image), class: "image-attached") %>
    </div>
    <% end %>
    <div class="mb-3">
      <%= f.label "Fundraiser Image", for: "formFileMultiple", class: "form-label" %>
      <%= f.file_field :image, class: "form-control", type: "file", id: "formFileMultiple"%>
    </div>


    <div class="row link-sources">
      <div class="col-md-6">
        <div class="input-group donation-group">
          <%= f.text_field :donate, type: "url", class: "form-control", placeholder: "https://google.com"%>
          <span class="input-group-text" id="donate">Donation Link</span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group sharing-group">
          <%= f.text_field :share, type: "url", class: "form-control", placeholder: "https://facebook.com"%>
          <span class="input-group-text" id="share">Sharing Link</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <a href="<%= "/fundraisers/" + @fundraiser.id.to_s%>" class="btn btn-danger btn-lg w-100">Cancel</a>
      </div>
      <div class="col-sm-8">
        <%= f.submit "Update", class: "btn btn-dark btn-lg w-100" %>
      </div>
    </div>

    <% end %>
  </div>

  <%= render 'layouts/footer' %>
</body>
