<%= render 'layouts/scripts' %>

<body>
  <%= render partial: "layouts/navbar", locals: {tab: :fundraisers} %>

  <% if logged_in? %>
  <div class="add-container">
    <a href="/fundraisers/new" class="btn btn-outline-dark btn-add">New Fundraiser</a>
  </div>
  <% end %>
  <% if logged_in? %>
  <div class="title h1 text-center">Recent Fundraisers</div>
  <% else %>
  <div class="title h1 text-center text-top">Recent Fundraisers</div>
  <% end %>

  <% if logged_in?%>
  <% @fundraisers.each do |fundraiser| %>
  <div class="card fundraiser-each-container" onclick="location.href='<%= '/fundraisers/' + fundraiser.id.to_s %>'">
    <div class="row">
      <div class="col-md-7 px-3">
        <div class="fundraiser-details card-block px-6">
          <h4 class="card-title"><%= fundraiser.title %></h4>
          <p class="card-text fundraiser-description">
            <%= fundraiser.description %>
          </p>
          <br>
          <div class="sharing-buttons">
            <a href="<%= fundraiser.donate %>" class="btn btn-dark btn-lg donate">Donate</a>
            <a href="<%= fundraiser.share %>" class="btn btn-light btn-lg share">Share</a>
          </div>
        </div>
        <div class="post-date-container">
          <p class="post-date">Posted: <i><%= fundraiser.created_at.strftime("%A, %B %e, %Y")%></i></p>
        </div>
      </div>
      <% if fundraiser.image.attached? %>
      <div class="fundraiser-pic-container col-md-5">
        <%= image_tag(url_for(fundraiser.image), class: "fundraiserIMG") %>
      </div>
      <% else %>
      <div class="fundraiser-pic-container col-md-5">
        <%= image_tag("first-meeting-2020.jpg", class: "fundraiserIMG") %>
      </div>
      <% end %>
    </div>
  </div>
  <% end%>
  <% else %>
  <% @fundraisers.each do |fundraiser| %>
  <div class="card fundraiser-for-each-container">
    <div class="row">
      <div class="col-md-7 px-3">
        <div class="fundraiser-details card-block px-6">
          <h4 class="card-title"><%= fundraiser.title %></h4>
          <p class="card-text fundraiser-description">
            <%= fundraiser.description %>
          </p>
          <br>
          <div class="sharing-buttons">
            <a href="<%= fundraiser.donate %>" class="btn btn-dark btn-lg donate">Donate</a>
            <a href="<%= fundraiser.share %>" class="btn btn-light btn-lg share">Share</a>
          </div>
        </div>
        <div class="post-date-container">
          <p class="post-date">Posted: <i><%= fundraiser.created_at.strftime("%A, %B %e, %Y")%></i></p>
        </div>
      </div>
      <% if fundraiser.image.attached? %>
      <div class="fund-pic-container col-md-5">
        <%= image_tag(url_for(fundraiser.image), class: "fundraiserIMG") %>
      </div>
      <% else %>
      <div class="fund-pic-container col-md-5">
        <%= image_tag("first-meeting-2020.jpg", class: "fundraiserIMG") %>
      </div>
      <% end %>
    </div>
  </div>
  <% end%>
  <% end %>

  <%= render 'layouts/footer' %>
</body>