<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ASA berkeley Homepage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Montserrat:wght@600;800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Lato:wght@300;400&family=Lora&display=swap" rel="stylesheet">
    
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'signin', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
      
      <a class="navTitle navbar-brand" href="/">Cal ASA</a>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/events">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/fundraisers">Fundraisers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/membership">Become a Member</a>
          </li>
        </ul>
        <% if logged_in? %>
          <a class="btn btn-danger" id="signOutButton" href="/signout">Sign Out</a> 
        <% end %>

        <% if not_logged_in? %>
          <a class="btn btn-outline-danger" id="signInButton" href="/signin">Sign In</a> 
        <% end %>
      </div>
    </nav>
    
    <div class="welcome container-fluid">
        <%= link_to image_tag("background.jpg", class: "welcomeIMG") %>
      
      <div class="welomceLabels">
        <h1 class="welcome-label">Welcome to Berkeley's Armenian Student Association</h1>
      </div>
      
    </div>

    <div class="firstBody container-fluid">
      <h1 class="whoweare">Who We Are</h1>
      <p class="firstHeader">The UC Berkeley Armenian Student Association cultivates a spirit of appreciation toward Armenian history,
       heritage, and culture through active cultural functions, historical and political awareness, as well as, social
        and recreational events. It strives to create an association where Armenians and non-Armenians alike can come 
        together, without any outside political affiliations and/or influence.</p>
    </div>


    <div class="welcome2 container-fluid">
      <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <ol class="carousel-indicators">
          <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
          <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
          <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
          <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"></li>
          <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"></li>
          <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"></li>
          <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6"></li>
          <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7"></li>
          <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8"></li>
          <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="9"></li>
          <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="10"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
             <%= image_tag("ardzagank.jpg", class: "d-block w-100") %>
            
            <div class="carousel-caption d-none d-md-block white-bg">
              <h5 class="carousel-overlay-title">Ardzagank</h5>
              <p class="carousel-overlay-content">Our incredible choir performs in many venues; one of them happened to be the Sproul Hall.</p>
            </div>
          </div>
          <div class="carousel-item">
            <%= link_to image_tag("doeGuitar.jpg", class: "d-block w-100" )%>
            
            <div class="carousel-caption d-none d-md-block white-bg">
              <h5 class="carousel-overlay-title">The Musicians</h5>
              <p class="carousel-overlay-content">We help each other become stronger. Music is one of the purest ways to express one's feelings, and it's nice too.</p>
            </div>
          </div>
          <div class="carousel-item">
            <%= link_to image_tag("tahoe2019.jpg", class: "d-block w-100") %>
            
            <div class="carousel-caption d-none d-md-block white-bg">
              <h5 class="carousel-overlay-title">Studying in Tahoe</h5>
              <p class="carousel-overlay-content">A <strong>Tahoe</strong> trip would be far too ideal for a Berkley student, that's why we bring our books with us!</p>
            </div>
          </div>

          <div class="carousel-item">
            <%= link_to image_tag("sathergate", class: "d-block w-100") %>
            
            <div class="carousel-caption d-none d-md-block white-bg">
              <h5 class="carousel-overlay-title">Blocking Sather Gate</h5>
              <p class="carousel-overlay-content">Once a year on the Remembrance Day of the Armenian Genocide, we block the Sather gate to raise awareness</p>
            </div>
          </div>

          <div class="carousel-item">
            <%= link_to image_tag("doeCamp", class: "d-block w-100") %>
            
            <div class="carousel-caption d-none d-md-block white-bg">
              <h5 class="carousel-overlay-title">Talks in the Glade</h5>
              <p class="carousel-overlay-content">The strive for justice units us, but it also makes our identity. </p>
            </div>
          </div>

          <div class="carousel-item">
            <%= link_to image_tag("armandattack", class: "d-block w-100") %>
            
            <div class="carousel-caption d-none d-md-block white-bg">
              <h5 class="carousel-overlay-title"><strong>The Armand</strong></h5>
              <p class="carousel-overlay-content">Watch where you step. The Big Brother is watching.</p>
            </div>
          </div>

          <div class="carousel-item">
            <%= link_to image_tag("tahoepic", class: "d-block w-100") %>
            
            <div class="carousel-caption d-none d-md-block white-bg">
              <h5 class="carousel-overlay-title">The Brothers Karamazov</h5>
              <p class="carousel-overlay-content">I can see the sun, but even if I cannot see the sun, I know that it exists. And to know that the sun is there - that is living (says the guy on the right).</p>
            </div>
          </div>

          <div class="carousel-item">
            <%= link_to image_tag("arikconcert", class: "d-block w-100") %>
            
            <div class="carousel-caption d-none d-md-block white-bg">
              <h5 class="carousel-overlay-title">The Arik</h5>
              <p class="carousel-overlay-content">Arik is arguably the most skilled person ever part of the ASA. He is the Jack of all trades, master of all.
               Singing is only of these dozen perfected skills. Others include skinny-dipping and hitting the elevator button multiple times.</p>
            </div>
          </div>

          <div class="carousel-item">
            <%= link_to image_tag("dianaconcert", class: "d-block w-100") %>
            
            <div class="carousel-caption d-none d-md-block white-bg">
              <h5 class="carousel-overlay-title">The Voice of an Angel</h5>
              <p class="carousel-overlay-content">Few people can sing like Diana. She blesses everyone attending with her incredible performances.</p>
            </div>
          </div>

          <div class="carousel-item">
            <%= link_to image_tag("calday", class: "d-block w-100") %>
            
            <div class="carousel-caption d-none d-md-block white-bg">
              <h5 class="carousel-overlay-title">In front of the Doe</h5>
              <p class="carousel-overlay-content">We gather together to enjoy each other's companies, play games, and talk about life.</p>
            </div>
          </div>

          <div class="carousel-item">
            <%= link_to image_tag("food.jpg", class: "d-block w-100") %>

            <div class="carousel-caption d-none d-md-block white-bg">
              <h5 class="carousel-overlay-title">Delicious Baklava</h5>
              <p class="carousel-overlay-content">As a part of the annual cultural show, guests are introduced to the best of the Armenian culture, from food to dancing and from history to reality.</p>
            </div>
          </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>
      
    </div>

  <div class="secondBody container-fluid">
    <h1 class="mission">Our Mission</h1>
    <p class="mission">The Armenian Students Association at the University of California, Berkeley was founded in 1976 and its mission since then has been to provide a community where Armenian students at Cal can embrace their heritage and cultivate a spirit of appreciation towards Armenian history and culture through social, cultural, philanthropic, and professional events. 

ASA strives to foster and support its members as well as enhance their college experience at Cal by allowing them to come together and connect with their roots, give back to their community, and celebrate their culture and history without any outside political affiliations and/or religious influence. </p>
  </div>


  <hr class="sep-3">
  <div class="execBody container">
      <div class="execHeader">
          <h1>Meet our Exec</h1>
      </div>
      
      <div class="execRow row">
          <div class="col-md-4">
              <%= image_tag("marinor", class: "exec-image")%>
              <div class="execSubs">
                  <h4 class="mainChairName">Marinor Balouzian</h4>
                  <h5 class="mainChairTitle">Co-President</h5>
              </div>

          </div>
          <div class="col-md-4">
              <%= image_tag("davit", class: "exec-image")%>
              <div class="execSubs">
                  <h4 class="mainChairName">Davit Gasparyan</h4>
                  <h5 class="mainChairTitle">Co-President</h5>
              </div>

          </div>
          <div class="col-md-4">
              <%= image_tag("sosse", class: "exec-image")%>
              <div class="execSubs">
                  <h4 class="mainChairName">Sosse Krikorian</h4>
                  <h5 class="mainChairTitle">Vice-President</h5>
              </div>

          </div>
      </div>



      <div class="execRow row">
          <div class="col-md-4">
              <%= image_tag("anna", class: "exec-image")%>
              <div class="execSubs">
                  <h4 class="mainChairName">Anna Vardapetyan</h4>
                  <h5 class="mainChairTitle">Secretary</h5>
              </div>

          </div>
          <div class="col-md-4">
              <%= image_tag("samson", class: "exec-image")%>
              <div class="execSubs">
                  <a class="execAnchor" href="https://sme777.github.io/homepage/"><h4 class="mainChairName">Samson Petrosyan</h4></a>
                  <h5 class="mainChairTitle">Social Chair</h5>
              </div>

          </div>
          <div class="col-md-4">
              <%= image_tag("aleen", class: "exec-image")%>
              <div class="execSubs">
                  <h4 class="mainChairName">Aleen Kuyumjian</h4>
                  <h5 class="mainChairTitle">Treasurer</h5>
              </div>

          </div>
      </div>

        <div class="execRow row">
          <div class="col-md-4">
              <%= image_tag("anita", class: "exec-image")%>
              <div class="execSubs">
                  <h4 class="mainChairName">Anita Megerdichyan</h4>
                  <h5 class="mainChairTitle">Social Media Chair</h5>
              </div>

          </div>
          <div class="col-md-4">
              <%= image_tag("ani", class: "exec-image")%>
              <div class="execSubs">
                  <h4 class="mainChairName">Ani Gevorkian</h4>
                  <h5 class="mainChairTitle">Public Relations Chair</h5>
              </div>

          </div>
          <div class="col-md-4">
              <%= image_tag("arman", class: "exec-image")%>
              <div class="execSubs">
                  <h4 class="mainChairName">Arman Ter-Petrosyan</h4>
                  <h5 class="mainChairTitle">Cultural Chair</h5>
              </div>

          </div>
      </div>

      <div class="execRow row">
          <div class="col-md-3">
              <%= image_tag("michael", class: "exec-image")%>
              <div class="execSubs">
                  <h5 class="coChairName">Michael Khachatrian</h5>
                  <h6 class="coChairTitle">Co-Social Chair</h6>
              </div>

          </div>
          <div class="col-md-3">
              <%= image_tag("anya", class: "exec-image")%>
              <div class="execSubs">
                  <h5 class="coChairName">Anya Vertanessian</h5>
                  <h6 class="coChairTitle">Co-Cultural Chair</h6>
              </div>

          </div>
          <div class="col-md-3">
              <%= image_tag("julia", class: "exec-image")%>
              <div class="execSubs">
                  <h5 class="coChairName">Julia Sarieva</h5>
                  <h6 class="coChairTitle">Co-Social Chair</h6>
              </div>

          </div>
          <div class="col-md-3">
              <%= image_tag("areni", class: "exec-image")%>
              <div class="execSubs">
                  <h5 class="coChairName">Areni Chorbajian</h5>
                  <h6 class="coChairTitle">Co-Cultural Chair</h6>
              </div>

          </div>
      </div>
  </div>

    <div class="container" id="footer">
      <hr class="my-4">
    
      <div class="footer-copyright text-center py-3">
        <div class="socials">
          <a href="https://www.instagram.com/cal_asa/"> <%= image_tag("instagram", class: "socialLink") %></a>
          <a href="https://www.facebook.com/UCBerkeleyASA/"><%= image_tag("fb-dark", class: "socialLink")%></a>
          <a href="mailto:calberkeleyasa@gmail.com"><%= image_tag("email", class: "socialLink")%></a>
        </div>
        <div class="copyright">
          <p>© 2021 Cal ASA</p>
        </div>
        
      </div>
    </div> 
  </body>
</html>