<%= render 'layouts/scripts' %>

<body>
  <%= render partial: "layouts/navbar", locals: {tab: :events} %>
  <div class="fundraiser-container container">
    <%= form_with(model: @event, method: :post, local: true) do |f| %>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Event Title</label>
      <%= f.text_field :title, class: "form-control", placeholder: "What's all this fuss about?"%>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Event Description</label>
      <%= f.text_area :content, size: "60x10", type: "text", class: "event-description form-control", placeholder: "How large is this party going to be?" %>
    </div>

    <div class="mb-3">
      <%= f.label "Event Image", for: "formFileMultiple", class: "form-label" %>
      <%= f.file_field :image, class: "form-control", type: "file", id: "formFileMultiple"%>
    </div>

    <div class="row link-sources">
      <div class="col-md-6">
        <div class="input-group donation-group">
          <%= f.text_field :rsvp, type: "url", class: "form-control", placeholder: "https://google.com"%>
          <span class="input-group-text" id="donate">RSVP Link</span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group sharing-group">
          <%= f.text_field :share, type: "url", class: "form-control", placeholder: "https://facebook.com"%>
          <span class="input-group-text" id="share">Sharing Link</span>
        </div>
      </div>
    </div>
    <%= f.submit "Create", class: "btn btn-outline-dark btn-lg w-100" %>
    <% end %>
  </div>

  <%= render 'layouts/footer' %>
</body>
