<%= render 'layouts/scripts' %>

<body>

  <%= render partial: "layouts/navbar", locals: {tab: :events} %>

  <div class="back-container">
    <a class="back-anchor" href="/events">
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-left-short"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
      </svg>
      Back
    </a>
  </div>

  <div class="card event-for-each-container">

    <div class="row">

      <div class="col-md-7 px-3">
        <div class="event-details card-block px-6">

          <h4 class="card-title"><%= @event.title %></h4>
          <p class="card-text event-description">
            <%= @event.content %>
          </p>
          <br>
          <div class="sharing-buttons">
            <a href="<%= @event.rsvp %>" class="btn btn-secondary btn-lg donate">RSVP</a>
            <a href="<%= @event.share %>" class="btn btn-success btn-lg share">Share</a>
          </div>
        </div>
        <div class="post-date-container">
          <p class="post-date">Posted: <i><%= @event.created_at.strftime("%A, %B %e, %Y")%></i></p>
        </div>
      </div>


      <% if @event.image.attached? %>
      <div class="fund-pic-container col-md-5">
        <%= image_tag(url_for(@event.image), class: "fundraiserIMG") %>
      </div>
      <% else %>
      <div class="fund-pic-container col-md-5">
        <%= image_tag("first-meeting-2020.jpg", class: "fundraiserIMG") %>
      </div>
      <% end %>

    </div>

  </div>

  <div class="edit-buttons container">
    <a href="<%= '/events/' + @event.id.to_s + '/edit/' %>" class="btn btn-outline-primary btn-lg edit-btn">Edit</a>
    <%= button_to "Delete", @event, :method => :delete, :class => "btn btn-outline-danger btn-lg delete-btn"%>
  </div>


  <%= render 'layouts/footer' %>

</body>
